[submodule "contrib/ms-sbvar/utilities_dw"]
	path = contrib/ms-sbvar/utilities_dw
	url = http://www.dynare.org/git/frbatlanta/utilities_dw.git
[submodule "contrib/ms-sbvar/switch_dw"]
	path = contrib/ms-sbvar/switch_dw
	url = http://www.dynare.org/git/frbatlanta/switch_dw.git
[submodule "contrib/ms-sbvar/TZcode"]
	path = contrib/ms-sbvar/TZcode
	url = http://www.dynare.org/git/frbatlanta/TZcode.git
[submodule "contrib/dmm"]
	path = contrib/dmm
	url = http://www.dynare.org/git/dmm.git
[submodule "matlab/utilities/tests"]
	path = matlab/utilities/tests
	url = https://git.dynare.org/Dynare/m-unit-tests.git
[submodule "matlab/particles"]
	path = matlab/particles
	url = https://git.dynare.org/Dynare/particles.git
[submodule "matlab/modules/dates"]
	path = matlab/modules/dates
	url = https://git.dynare.org/Dynare/dates.git
	branch = master
[submodule "matlab/modules/dseries"]
	path = matlab/modules/dseries
	url = https://git.dynare.org/Dynare/dseries.git
	branch = master
[submodule "matlab/modules/reporting"]
	path = matlab/modules/reporting
	url = https://github.com/DynareTeam/reporting.git
[submodule "contrib/jsonlab"]
	path = contrib/jsonlab
	url = https://github.com/fangq/jsonlab.git
[submodule "preprocessor"]
	path = preprocessor
	url = https://github.com/DynareTeam/dynare-preprocessor.git
