[submodule "contrib/ms-sbvar/utilities_dw"]
	path = contrib/ms-sbvar/utilities_dw
	url = ../../contrib/utilities_dw.git
[submodule "contrib/ms-sbvar/switch_dw"]
	path = contrib/ms-sbvar/switch_dw
	url = ../../contrib/switch_dw.git
[submodule "contrib/ms-sbvar/TZcode"]
	path = contrib/ms-sbvar/TZcode
	url = ../../contrib/TZcode.git
[submodule "matlab/utilities/tests"]
	path = matlab/utilities/tests
	url = ../../Dynare/m-unit-tests.git
[submodule "matlab/dseries"]
	path = matlab/dseries
	url = ../../Dynare/dseries.git
	branch = master
[submodule "preprocessor"]
	path = preprocessor
	url = ../../Dynare/preprocessor.git
