# For checking that no file has been unduly ignored, run:
# $ git ls-files -i --exclude-per-directory=.gitignore
# Any file that is displayed should be removed from the ignore list
# (possibly by an exclusion rule beginning with an exclamation mark)

*.m
*.mat
*.eps
*.bin
*.cod
*.c
*.tex
*.TeX
*.jnl
*.swp
*.dat
*.prn
*_simul
*-macroexp.mod
*.json

wsOct
/run_test_octave_output.txt
/run_test_matlab_output.txt

/block_bytecode/ls2003_tmp.mod
/partial_information/PItest3aHc0PCLsimModPiYrVarobsAll_PCL*
/partial_information/PItest3aHc0PCLsimModPiYrVarobsCNR_PCL*

!/AIM/data_ca1.m
!/AIM/fs2000_b1L1L_AIM_steadystate.m
!/AIM/fs2000_b1L1L_steadystate.m
!/AIM/fsdat.m
!/analytic_derivatives/fsdat_simul.m
!/block_bytecode/run_ls2003.m
!/bvar_a_la_sims/bvar_sample.m
!/conditional_forecasts/2/fsdat_simul.m
!/data/test.xlsx
!/dates/fsdat_simul.m
!/decision_rules/third_order/comparison_policy_functions_dynare_mathematica.m
!/ep/ar_steadystate.m
!/ep/exact_solution.m
!/ep/mean_preserving_spread.m
!/ep/rbcii_steady_state.m
!/estimation/fsdat_simul.m
!/expectations/expectation_ss_old_steadystate.m
!/external_function/extFunDeriv.m
!/external_function/extFunNoDerivs.m
!/external_function/extFunWithFirstAndSecondDerivs.m
!/utils/fataltest.m
!/filter_step_ahead/trend_cycle_decomposition_data.m
!/fs2000/fs2000a_steadystate.m
!/fs2000/fsdat_simul.m
!/fs2000/fsdat_simul_dseries.m
!/fs2000/fsdat_simul_missing_obs.m
!/fs2000_ssfile_aux.m
!/gsa/data_ca1.m
!/gsa/data_ca1.mat
!/gsa/ls2003_mean.mat
!/gsa/ls2003_mode.mat
!/gsa/ls2003_results.mat
!/gsa/ls2003scr_mean.mat
!/gsa/ls2003scr_mode.mat
!/gsa/ls2003scr_results.mat
!/gsa/morris/nk_est_data.m
!/identification/as2007/as2007_steadystate.m
!/identification/kim/kim2_steadystate.m
!/initval_file/ramst_initval_file_data.m
!/internals/tests.m
!/k_order_perturbation/run_fs2000kplusplus.m
!/kalman/likelihood/compare_kalman_routines.m
!/kalman/likelihood/simul_state_space_model.m
!/kalman/likelihood/test1.m
!/kalman/likelihood/test2.m
!/kalman/likelihood/test3.m
!/kalman_filter_smoother/compare_results_simulation/fsdat_simul_logged.m
!/kalman_filter_smoother/fsdat_simul.m
!/kalman_filter_smoother/test.mat
!/kalman_filter_smoother/testsmoother.m
!/kalman_steady_state/test1.m
!/kronecker/nash_matrices.mat
!/kronecker/small_matrices.mat
!/kronecker/test_kron.m
!/load_octave_packages.m
!/ls2003/data_ca1.m
!/measurement_errors/data_ca1.m
!/measurement_errors/fs2000_corr_me_ml_mcmc/fsdat_simul.m
!/missing/simulate_data_with_missing_observations.m
!/ms-sbvar/archive-files/MHM_input.dat
!/ms-sbvar/archive-files/ftd_2s_caseall_upperchol3v.m
!/ms-sbvar/archive-files/ftd_2s_caseall_upperchol4v.m
!/ms-sbvar/archive-files/ftd_2s_caseall_upperchol6v.m
!/ms-sbvar/archive-files/ftd_2s_caseall_upperchol7v.m
!/ms-sbvar/archive-files/ftd_RSvensson_4v.m
!/ms-sbvar/archive-files/ftd_cholesky.m
!/ms-sbvar/archive-files/ftd_non_rec_5v.m
!/ms-sbvar/archive-files/ftd_simszha5v.m
!/ms-sbvar/archive-files/ftd_upperchol3v.m
!/ms-sbvar/archive-files/ftd_upperchol4v.m
!/ms-sbvar/archive-files/ftd_upperchol5v.m
!/ms-sbvar/archive-files/ftd_upperchol6v.m
!/ms-sbvar/archive-files/ftd_upperchol7v.m
!/ms-sbvar/archive-files/specification_2v.dat
!/ms-sbvar/archive-files/specification_2v2c.dat
!/ms-sbvar/data.m
!/objectives/sgu_ex1.mat
!/observation_trends_and_prefiltering/generate_trend_stationary_AR1.m
!/optimal_policy/Ramsey/find_c.m
!/optimal_policy/Ramsey/oo_ramsey_policy_initval.mat
!/optimizers/optimizer_function_wrapper.m
!/parallel/data_ca1.m
!/parallel/init.m
!/particle/benchmark.m
!/particle/data_risky_perturb2.m
!/particle/dsge_base2_steadystate.m
!/particle/extreme.m
!/particle/risky.m
!/pi2004/idata.m
!/pi2004/ych.dat
!/practicing/cagan_data.mat
!/practicing/dataHST.mat
!/practicing/data_consRicardoypg.mat
!/practicing/datasaver.m
!/utils/printMakeCheckMatlabErrMsg.m
!/utils/printMakeCheckOctaveErrMsg.m
!/prior_posterior_function/posterior_function_demo.m
!/ramst_initval_file_data.m
!/recursive/data_ca1.m
!/reporting/AnnualTable.m
!/reporting/CommResidTablePage.m
!/reporting/CountryGraphPage.m
!/reporting/CountryTablePage.m
!/reporting/ResidTablePage.m
!/reporting/runDynareReport.m
!/run_all_unitary_tests.m
!/run_block_byte_tests_matlab.m
!/run_block_byte_tests_octave.m
!/run_m_script.m
!/run_o_script.m
!/run_reporting_test_matlab.m
!/run_reporting_test_octave.m
!/run_test.m
!/run_test_matlab.m
!/run_test_octave.m
!/run_unitary_tests.m
!/shock_decomposition/example1_calib_shock_decomp_data.mat
!/shock_decomposition/fsdat_simul.m
!/smoother2histval/fsdat_simul.m
!/steady_state/walsh1_old_ss_steadystate.m
